spring:
  datasource:
    url: jdbc:mysql://localhost:3306/devconnect
    username: root
    password: 6301
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: 8080